# Configurações do Servidor
PORT=3001

# Configurações do Banco de Dados
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=sua_senha
DB_NAME=repo_ifpa

# Configurações JWT
JWT_SECRET=sua_chave_secreta_muito_segura_aqui_2024
JWT_EXPIRY=24h
